.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 50px;
  object-fit: contain;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 32px;

  &:hover {
    color: var(--primary);
  }
}
