<header>
  <div class="container navbar">
    <img src="assets/img/logo_white_black.svg" alt="logo_white" />
    <div id="menu-list" [class.show]="showMenu">
      <a routerLink="/" fragment="home" (click)="toggleMenu()">Home</a>
      <a routerLink="/" fragment="about-me" (click)="toggleMenu()">About</a>
      <a routerLink="/" fragment="my-work" (click)="toggleMenu()">Portfolio</a>
    </div>
    <img alt="menu_image" src="assets/img/menu.svg" class="menu-icon" (click)="toggleMenu()" />
  </div>
</header>
