<div class="container">
  <h1>Impressum</h1>
  <p>Angaben gemäß § 5 TMG</p>
  <p>
    Daniel Stöhr <br />
    An der Tränke 23<br />
    97520 Röthlein <br />
  </p>
  <p>
    <strong>Vertreten durch: </strong><br />
    Daniel Stöhr<br />
  </p>
  <p>
    <strong>Kontakt:</strong> <br />
    Telefon: 0152-21895935<br />
    E-Mail: <a href="mailto:stoehr-daniel@web.de">stoehr-daniel@web.de</a><br />
  </p>
  <br />
  Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der
  <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a>
</div>
