/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #fa2759;
  --secondary: #2dfcd8;
  --grey: #1a1a1a;
  --black: #000000;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black);
  color: white;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
