/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #fa2759;
  --secondary: #2dfcd8;
  --grey: #1a1a1a;
  --black: #000000;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black);
  color: white;
  margin: 0;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &.active {
    color: white;
  }

  &:disabled {
    color: white;
  }
}

.btn-primary {
  border: 1px solid rgb(45, 252, 216);
  color: rgb(45, 252, 216);

  &:hover,
  &.active {
    background-color: rgb(45, 252, 216);
  }

  &:disabled {
    background-color: rgba(45, 252, 216, 0.8);
  }
}

.btn-secondary {
  border: 1px solid #fa2759;
  color: #fa2759;

  &:hover,
  &.active {
    background-color: #fa2759;
  }

  &:disabled {
    background-color: rgba(250, 39, 89, 0.8);
  }
}
